// Foundation
@import "foundation";
// Row Override
.row {
    max-width: 70.5rem;
}

// Google Fonts
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-webkit-keyframes Floating {
    from {
        -webkit-transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

// Variables
$bg: rgba(47, 43, 40, 1);
// Site Styles
body {
    background-color: $bg;
    background-image: url('/img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

// Typekit Overrides
.wf-loading {
    h3, p, span, a, .button, button {
        font-family: "jaf-bernino-sans-comp", sans-serif;
        visibility: hidden;
    }
}

.wf-active {
    h3, p, span, a, .button, button {
        visibility: visible;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

// Font Override
h3,
p,
span,
a {
    font-family: 'Montserrat', sans-serif;
}

.primary,
.secondary,
button,
.button {
    font-family: "jaf-bernino-sans-comp", sans-serif;
    font-style: normal;
    font-weight: 400;
}

// Header
.header {
    background-color: $bg;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 54px;
    overflow: hidden;
    button {
        padding: 6px 18px;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid #fff;
        margin: 7px 0 0 5px;
        opacity: .7;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover, &:focus {
            opacity: 1;
            background-color: white;
            color: $bg;
        }
    }
    .logo {
        padding: 0 .9375em;
        float: left;
        h5 {
            opacity: 0.7;
            color: white;
            line-height: 54px;
            margin: 0;
            white-space: nowrap;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:hover, &:focus {
                opacity: 1;
            }
            @media (min-width: 40em) {
                font-size: 1.375rem;
            }
        }
    }
}

.social {
    text-align: right;
    padding: 0 .9375em;
    a {
        float: right;
    }
    img {
        width: 30px;
        margin: 12px 4px;
        opacity: 0.7;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover, &:focus {
            opacity: 1;
        }
        &:active {
            -ms-transform: scale(0.8, 0.8);
            -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
        }
        @media (max-width: 40em) {
            margin: 12px 0;
        }
    }
}

.content {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    img {
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover, &:focus {
            -webkit-animation-name: Floating;
            -webkit-animation-duration: 1.2s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
        }
    }
    .active {
        img {
            -webkit-animation-name: Floating;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            position: relative;
            z-index: 4;
        }
        .glow {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 10px;
            width: 10px;
            background: rgb(255, 248, 200);
            z-index: 3;
            -webkit-box-shadow: 0 0 103px 94px white;
            box-shadow: 0 0 103px 94px white;
            border-radius: 100%;
        }
    }
    .glow {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    div {
        &:active {
            img {
                transform: scale(0.8);
            }
        }
    }
}

.space {
    height: 100px;
}

// MailChimp
.sign-up {
    display: none;
    background-color: $bg;
    position: fixed;
    top: 54px;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid white;
    padding: 30px;
    #mc_embed_signup {
        clear: left;
    }
    label {
        color: white;
        margin: 20px 0;
    }
    input {
        border: 1px solid #fff;
        border-radius: 4px;
        background-color: transparent;
        color: white;
        height: auto;
        line-height: 2em;
        &:focus {
            outline: 0;
            border-color: white;
            background-color: rgba(255, 255, 255, 0.33);
        }
    }
    .button {
        padding: 6px 18px;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid #fff;
        margin: 0;
        float: right;
        opacity: .7;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover, &:focus {
            opacity: 1;
            background-color: white;
            color: $bg;
        }
    }
    .x {
        color: #fff;
        font: 26px/100% arial, sans-serif;
        position: absolute;
        right: 16px;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        top: 16px;
        opacity: .7;
        z-index: 2;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover, &:focus {
            opacity: 1;
        }
        &:after {
            content: '×';
        }
    }
}
